.form-wrapper {
    margin-left: 18vw;
    margin-right: 18vw;
}

.form-wrapper input {
    margin-bottom: 10vh;
}

.huge.ui.button {
    float: right;
}

#welcome {
    text-align: center;
}

.ui.action.input {
    text-align: center;
}

.wholeframe {
  height: 100vh;
}
