<div class="">

    <h1 id="welcome">Choose a game or join your friends!</h1>

    <div class="">
        <button class="huge ui button" ng-click="createGame()">
          Create New Game
        </button>
    </div>

    <div ng-show="view.showForm" class="form-wrapper">
        <form class="ui centered form">

            <label>Game Title:</label>
            <input type="text" name="gameTitle" ng-model="view.gameInputs">


            <button class="huge ui button" ng-click="addGame(view.gameInputs, view.randomId)">
              Submit Game
            </button>

        </form>
    </div>

    <div class="ui action input">
        <input type="text" placeholder="Enter your access code...">
        <button class="ui button" ng-click="view.go()">Join</button>
    </div>


    <div class="ui link list">
        <div class="active item">Open Games:</div>
        <a ng-repeat='game in view.games' class="item" ng-click='view.go(game.id)'>{{game.title}} - | - {{game.id}}</a>
    </div>



</div>
