<h1>Waiting Room</h1>

{{message}}

<table class="ui center aligned table">
  <thead>
    <tr>
      <th class="ten wide">Users Joined</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in view.users track by $index">
      <td ng-if="rightUser(user.gameid)">{{user.username}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>{{view.userCount}}</th>
    </tr>
  </tfoot>
</table>
<div class="ui center aligned grid">
  <div class="row">

    <button class="ui positive centered basic button" ng-click="view.gameStart()">Start Game</button>

  </div>

</div>
